element{
  --HeaderColor: #7FFFD4;
}


.wrapper {
  
  display: grid;

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 90px 1fr;
  gap: 1rem;

  grid-template-areas: 
  "header header"
  "ContentWrapper ContentWrapper";

  
}

.ContentWrapper {
  
  display: grid;

  grid-area: ContentWrapper;

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 100%;

  grid-template-areas: 
  "FirsBlok SecondBlok";
}

.FirsBlok {
  grid-area: FirsBlok;
}

.SecondBlok {
  grid-area: SecondBlok;
}